<div class = "welcome">test

</div>

<div class = "page-space">
    
    <div class = "row">
        <div class = "col-xs-2 welcome-links">
            <ul class = "welcome-links2">
                <li class = "welcome-links2"><%= link_to "Home", root_path %></li>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Home", root_path %></li>
            </ul>
        </div>
        
        <div class = "col-xs-6">EXAMPLE EXAMPLE</div>
    </div>
    
</div>

<div class = "bottom-bar">
    <center>test</center>
</div>